.board-label {
	fill: #aaa;
	font-size: 14px;
	font-weight: bold;
	text-anchor: middle;
	font-family: sans-serif;
}

.piece {
	cursor: pointer;
}


#history-log {
	background: rgba(0,0,0,0.3); 
	padding: 10px; 
	border-radius: 4px; 
	min-height: 20px; 
	max-width: 600px; 
	color: white;
	margin-top: 10px;
	word-wrap: break-word;
}

#counter {
	color: white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: radial-gradient(circle, #3d3a35 0%, #1c1a17 100%);
}

.game-header {
	text-align: center;
	margin-bottom: 3rem;
}

.game-header h1 {
	color: #fff;
	font-size: 2.5rem;
	margin: 0;
	letter-spacing: -1px;
}

.subtitle {
	color: #779556;
	font-weight: 500;
	margin-top: 0.5rem;
}

.sidebar>section {
	margin-bottom: 35px;
	background: rgba(255, 255, 255, 0.03);
	padding: 15px;
	border-radius: 8px;
}

h2 {
	font-size: 0.85rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #636363;
	border-bottom: 1px solid #312e2b;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
}

.tip {
	padding: 1rem;
	background: rgba(119, 149, 86, 0.1);
	border-left: 4px solid #779556;
	font-size: 0.9rem;
	line-height: 1.5;
	color: #ebecd0;
	width: 600px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 320px;
	gap: 40px;
	max-width: 1000px;
	margin: 0 auto;
	align-items: start;
}

.sidebar>section {
	margin-bottom: 35px;
	background: rgba(255, 255, 255, 0.03);
	padding: 15px;
	border-radius: 8px;
}

.control-group {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.control-group label {
	font-size: 0.8rem;
	color: #779556;
	font-weight: bold;
}

.range-slider-container {
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 10px;
}

input[type="range"] {
	position: absolute;
	width: 100%;
	pointer-events: none;
	appearance: none;
	background: none;
	z-index: 2;
}

input[type="range"]::-webkit-slider-thumb {
	pointer-events: auto;
	appearance: none;
	width: 16px;
	height: 20px;
	background: #779556;
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
	margin-top: -12px;
	cursor: pointer;
	border: none;
}

.slider-track {
	position: absolute;
	transform: translateY(100%);
	width: 100%;
	height: 6px;
	background: #646464;
	border-radius: 3px;
	z-index: 1;
}

select {
	background: #2a2a2a;
	color: white;
	border: 1px solid #444;
	padding: 8px;
	border-radius: 4px;
	outline: none;
}

select:focus {
	border-color: #779556;
}

.tick-container {
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
	margin-top: 5px;
}

.tick-container span {
	font-size: 0.7rem;
	color: #fff;
	position: relative;
}

.tick-container span::before {
	content: "";
	position: absolute;
	top: -8px;
	left: 50%;
	width: 1px;
	height: 4px;
	background: #fff;
}